<h1>アイテム一覧</h1>
<% if @cloths.nil? %>
    <%= まだ登録されている商品がありません。 %>
<% else %>
    <% @cloths.each do |cloth| %>
        <ul>
            <li><%= link_to image_tag(cloth.thumbnail, size: "100x100"), cloth %></li>
            <li><%= cloth.name %></li>
            <li><%= link_to "編集",  edit_cloth_path(cloth), class: "button" %></li>
            <li><%= link_to "削除",  cloth_path(cloth), method: :delete, class: "button" %></li>
        </ul>
    <% end %>
<% end %>